h1 {
   color: blue;
   font-family: 'Open Sans', sans-serif;
}

p {
   font-family: 'Open Sans', sans-serif;
}

div {
   font-family: 'Open Sans', sans-serif;
}

.wallpaper {
   width: 100%;
   height: auto;
}

.logo {
   font-size: 50px;
   color: white;
   text-shadow: 4px 5px black;
   font-family: 'Indie Flower', cursive;
   display: flex;
   margin-bottom: 20px;
   justify-content: space-evenly;
}

.intro-text {
   font-size: 32px;
   color: white;
   text-shadow: 2px 3px black;
   font-family: 'Indie Flower', cursive;
   display: flex;
   justify-content: center;
}

.splashPageImage {
   position: relative; 
   max-height: 55%;
   max-width: 100vw;
   width: auto;
   height: auto;
   left: 50%;
   transform: translateX(-50%);
   padding-bottom: 25px;
}

.main_page_nav {
   display: flex;
   width: 80vw;
   font-size: 30px;
   align-items: center;
   text-align: center;
   justify-content: space-evenly;
   position: relative;
   margin: 0 auto;
}

.boy_tiger_github {
   color: black;
   font-size: 50px;
   position: relative;
   margin: 0 auto;
}

.git-logo{
   display: block;
   text-align: center;
}

.main_page_calendar {
   /* width: 150px;
   height: 100px;
   background-color: green; */
}

.main_page_scroll_down {
   position: absolute;
   text-align: center;
   bottom: 0%;
   height: 5%;
   width: 100%;
   background-color: #00cf35;

   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: white;   

	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
   outline: inherit;
   
}

.about_us {
   text-align: center;
   font-size: 40px;
   color: black;
   font-weight: bold;
   font-family: 'Indie Flower', cursive;
   /* color: black;
   position: absolute;
   top: 3%;
   left: 45%; */
}

.people_div {
   border-radius: 10px;
   background: rgba(241, 189, 54, 0.9); 
   width: 88%;
   height: auto;
   display: flex;
   justify-content: center;
   margin: auto;
   margin-top: 10px;
   position: relative;
}


.personal_sites_wrapper {
   border-radius: 10px;
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute; 
   bottom: 0px;
   font-size: 30px;
   width: 22%;
   margin-bottom: 15px;
}

.fa-github {
   color: black;
   padding: 5px;
}

.fa-linkedin {
   color: #0076b5;
   padding: 5px;
}

.fa-user-circle {
   color: orangered;
   padding: 5px;
}

.aboutParagraph {
   display: block;
   padding-bottom: 50px;
}

.aboutImg {
  object-fit: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.person1 {
   border-radius: 10px;
   width: 25%;
   height: 100%;
   margin: 20px 20px;
   text-align: center;
   box-sizing: border-box;
   /* display: flex;
   flex-direction: column;
   justify-content: space-between; */
   /* background-color: gray; */
}

.person2 {
   width: 25%;
   height: 100%;
   margin: 20px 10px;
   text-align: center;
   box-sizing: border-box;
   /* display: flex;
   flex-direction: column;
   justify-content: space-between; */
   /* background-color: green; */
}

.person3 {
   width: 25%;
   height: 100%;
   margin: 20px 10px;
   text-align: center;
   box-sizing: border-box;
   /* display: flex;
   flex-direction: column;
   justify-content: space-between; */
   /* background-color: blue; */
}

.person4 {
   border-radius: 10px;
   width: 25%;
   height: 100%;
   margin: 20px 20px;
   text-align: center;
   box-sizing: border-box;
   /* display: flex;
   flex-direction: column;
   justify-content: space-between; */
   /* background-color: red; */
}



.about_bill {
   text-align: center;
   color: white;
   font-size: 50px;
   text-shadow: 2px 2px black;
   padding: 10px;
}

.bill_blurb {
   font-size: 25px;
   color: white;
   text-align: center;
   text-shadow: 2px 2px black;
   margin: auto;
   width: 60%;
}

.fa-random {
   color: black;
   background-color: white;
   /* mix-blend-mode: difference; */
    padding:15px;
    border-radius: 50%;
}

.calendar {
  box-shadow: 
    0px 1px 5px 0px rgba(0,0,0,0.2), 
    0px 2px 2px 0px rgba(0,0,0,0.14), 
    0px 3px 1px -2px rgba(0,0,0,0.12);
  color: white;
  border-radius: 8px;
  background: rgb(33, 150, 243);
  padding: 10px;
  width: 100%;
  min-width: 130px;
  height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: -7px;
}

.calendar:hover{
   cursor: pointer;
   background: #1976d2;
}