.comment-list{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.comment{
  display: flex;
  align-items: center;
}

.comment-info{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment-date{
  font-size: 8px;
  color: grey;
}