.nav-search-container {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: orange;
  box-sizing: border-box;
}

.nav-search {
  width: 200%;
}

.nav-link {
  padding: 0px 10px;
}

.nav-search-form {
  display: flex;
  width: 40%;
  position: absolute;
  left: 30%;
}