.comicWrapper {
  position: relative;
  text-align: center;
  top: 50%;

}

.comicImage {
   padding-top: 3%;
   width: 50%;
   margin: 0 auto;
}

.comicControls {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: blue;
   width: 50%;
   height: 100px;
   margin: auto;
}

.comicDialog {
   padding-top: 5%;
   width: 40%;
   margin: auto;
}

.comicDate {
   padding-top: 5%;
}